<div class="alain-default__content-title">
  <h1>合同模板</h1>
</div>
<nz-card class="alain-default__unwrap bg-white" nzTitle="合同模板列表">
  <nz-spin nzTip='Loading...' [nzSpinning]="ctx.spinning">
    <div nz-row nzGutter="16">
      <div nz-col nzXs="24" nzSm="24">
        <app-grid-control [template]="gridTpl" [config]="{index : true}"></app-grid-control>
      </div>
    </div>
    <div nz-row nzGutter="16" class="mt-md">
      <div nz-col nzXs="24" nzSm="24" class="text-right">
        <button class="btn2" nz-button nzType="primary" (click)="gotoCreate()">创建</button>
        <button class="btn1" nz-button nzType="primary" (click)="doUpdate()">编辑</button>
        <button class="btn2" nz-button nzType="primary" (click)="gotoApprove()">提交审批</button>
        <button class="btn1" nz-button nzType="primary" (click)="showHistory()">合同历史版本</button>
      </div>
    </div>
  </nz-spin>
</nz-card>

<nz-modal [nzVisible]="historyVisible" [nzWidth]="600" nzMask nzClosable (nzOnCancel)="historyVisible = false"
          nzTitle="模板历史版本" [nzCancelText]="null" (nzOnOk)="historyVisible = false">
  <nz-table #hisTab [nzData]="contractHistory" [nzShowPagination]="false">
    <thead>
    <tr>
      <th [nzWidth]="100">版本号</th>
      <th [nzWidth]="100">状态</th>
      <th [nzWidth]="100">修改人</th>
      <th [nzWidth]="160">修改时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of hisTab.data">
      <td>{{data.versionNum}}</td>
      <td>{{data.contractStatus}}</td>
      <td>{{data.lastUpdateBy}}</td>
      <td>{{data.lastUpdateDate}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-modal>


