<form nz-form [formGroup]="form" class="bg-white">
  <div nz-col nzXs="24" nzSm="24">
    <nz-form-item>
      <ng-container *ngFor="let ctrl of basicControls">
        <nz-form-label [nzSm]="3" [nzXs]="24">{{ctrl.label}}</nz-form-label>
        <nz-form-control [nzSm]="ctrl.colSpan||5" [nzXs]="24">
          <app-control [ctrl]="ctrl" [form]="form"></app-control>
        </nz-form-control>
        <ng-container *ngIf="ctrl.nl">
          <nz-form-control [nzSm]="24" [nzXs]="24"></nz-form-control>
        </ng-container>
      </ng-container>
    </nz-form-item>
  </div>
  <nz-divider></nz-divider>
  <div class="text-lg">合同交易方</div>
  <nz-divider></nz-divider>
  <div nz-row nzGutter="16" class="bg-white">
    <div nz-col nzXs="24" nzSm="24">
      <app-grid-control [template]="contactListCtrls" [config]="gridConfig" #grid1></app-grid-control>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="text-lg">合同标的</div>
  <nz-divider></nz-divider>
  <div nz-row nzGutter="16" class="bg-white">
    <div nz-col nzXs="24" nzSm="24">
      <app-grid-control [template]="lineListCtrls" [config]="gridConfig" #grid2></app-grid-control>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="text-lg">合同付款计划</div>
  <nz-divider></nz-divider>
  <div nz-row nzGutter="16" class="bg-white">
    <div nz-col nzXs="24" nzSm="24">
      <app-grid-control [template]="payListCtrls" [config]="gridConfig" #grid3></app-grid-control>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="text-lg mb-lg">合同条款</div>
  <div nz-row nzGutter="16" class="bg-white">
    <div nz-col nzXs="24" nzSm="24">
      <nz-table #clauseListTab [nzData]="clauseList" nzShowPagination="false" [nzScroll]="{x:'950px'}" >
        <tbody>
        <ng-container *ngFor="let data of clauseListTab.data">
          <tr>
            <td width="5%">{{data.serialNumber}}</td>
            <td width="95%">{{data.clauseTitle}}</td>
          </tr>
          <tr *ngIf="data.clauseContent">
            <td></td>
            <td class="text-md" style="padding-left: 5%;">{{data.clauseContent}}</td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</form>
